<div>
  <% if !current_user.present? %>
    <%= render 'shared/search' %>
    <div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6 pt-4">
    <% @cars.each do |car| %>
      <div class="card-trip mt-3 mx-auto">
        <% car.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 150, width: 250, crop: :thumb, class: "rounded" %>
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= car.name %></h2>
            <h7>Year: <%= car.year %></h3>   
          </div>
        <div>
          <p><%= link_to "Details", car_path(car), class: "btn-ghost" %></p>
        </div>
        <h2 class="card-trip-pricing"><%= car.price.to_i %> EUR / day</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
  <% else %>
    <%= render 'shared/welcome' %>
  <% end %>
</div>