
  <% if !current_user.present? %>
    <%= render 'shared/search' %>
          <div class="container">
            <div class="grid-container">
              <% @cars.each do |car| %>
                <div class="card-trip">
                  <% car.photos.each do |photo| %>
                    <%= cl_image_tag photo.key, height: 200, width: 400, crop: :fill, class: "rounded" %>
                  <% end %>
                  <div class="card-trip-infos">
                    <div>
                      <h2><%= car.name %></h2>
                      <h7>Year: <%= car.year %></h3>   
                    </div>
                  <div>
                    <p><%= link_to "Details", car_path(car), class: "btn-ghost" %></p>
                  </div>
                  <h2 class="card-trip-pricing"><%= car.price.to_i %> EUR / day</h2>
                  <img src="https://avatars3.githubusercontent.com/u/31419836?v=4" class="card-trip-user avatar-bordered"/>
                  </div>
                </div>      
              <% end %>
            </div>
          </div>
  <% else %>
      <%= render 'shared/welcome' %>
  <% end %>
