<%= render 'shared/search' %>
  <div class="container">
    <div class="grid-container">
      <% @cars.each do |car| %>
        <div class="card">
          <div class="front">
            <%= link_to car_path(car) do %>
                <%= cl_image_tag car.photos.first.key, height: 200, width: 400, crop: :fill, class: "rounded" %>
            <% end %>
          </div>      
          <div class="back">
            <div class="back-content middle">    
              <h2><%= car.name %></h2>
              <p><%= car.price.to_i %> EUR / day</p>
              <p><%= link_to "Details", car_path(car), class: "btn-ghost" %></p>
            </div>
          </div>
        </div>      
      <% end %>
    </div>
  </div>
