<% @cars.each do |car| %>
  <div class="card-trip mt-3 mx-auto">
    <%= link_to car_path(car) do %>
      <% if car.photos.attached? %>
        <% car.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 150, width: 300, crop: :thumb, class: "rounded card-thumbnail" %>
        <% end %>
      <% else %>
        <%= image_tag "car.png" %>
      <% end %>
      <div class="card-trip-infos">
        <div>
          <h2><%= car.name %></h2>
          <h7>Year: <%= car.year %></h3>
          <p>Short description here!</p>
        </div>
        <h2 class="card-trip-pricing"><%= car.price.to_i %> EUR / day</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    <% end %>
  </div>
<% end %>
